Body {
    background-color: darkred;
    border-width: 6px;
    border-color: white;
    border-style: outset;
}

#Logga {
    font-style: oblique;
    font: 220% serif;
    text-align: center;
    border-width: 3px;
    border-color: Blue;
    border-style: groove;
}

#MainSite {
    text-align: center;
    font-style: Italic;
    font: 120% serif;
}

#Färgerna Är Bara ett test och vi ska såklart ändra de. Sen så vet jag inte varför #body border inte är runt hela, det var det förut.
